<h1>Listing photos</h1>

<table>
  <tr>
    <th>User</th>
    <th>Name</th>
    <th>Description</th>
    <th>Calculated rating</th>
    <th>Is visible</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @photos.each do |photo| %>
  <tr>
    <td><%= photo.user_id %></td>
    <td><%= photo.name %></td>
    <td><%= photo.description %></td>
    <td><%= photo.calculated_rating %></td>
    <td><%= photo.is_visible %></td>
    <td><%= link_to 'Show', photo %></td>
    <td><%= link_to 'Edit', edit_photo_path(photo) %></td>
    <td><%= link_to 'Destroy', photo, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Photo', new_photo_path %>
