<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @photo.user_id %>
</p>

<p>
  <b>Name:</b>
  <%= @photo.name %>
</p>

<p>
  <b>Description:</b>
  <%= @photo.description %>
</p>

<p>
  <b>Calculated rating:</b>
  <%= @photo.calculated_rating %>
</p>

<p>
  <b>Is visible:</b>
  <%= @photo.is_visible %>
</p>


<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
